<a href="@Url.Action("XemGioHang","GioHang")" class="account" style="margin-right:10px; display:flex; justify-content:space-between; align-items:baseline;">
    <i class="fas fa-cart-arrow-down"></i>
    <div style="margin-left:5px;"> @ViewBag.SoLuongItem item</div>
</a>
